<!DOCTYPE html>
<html>
<head>
  <title>Linked Data Reading Group FOAFs</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= yield %>
	</div>
</body>
</html>
